{
    "swagger": "2.0",
    "info": {
        "title": "Featherback API",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://api.featherback.co",
            "description": "Production API"
        },
        {
            "url": "https://test-api.featherback.co",
            "description": "Staging API"
        },
        {
            "url": "http://localhost:1337",
            "description": "Local Development API"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "paths": {
        "/": {
            "get": {
                "description": "Get metadata about the API. Useful for debugging."
            }
        },
        "/teapot": {
            "get": {
                "description": "Get an example handled error response. Useful for debugging."
            }
        },
        "/error": {
            "get": {
                "description": "Get an example unhandled error thrown with the API. Useful for debugging."
            }
        },
        "/login": {
            "get": {
                "description": "Authenticates a User. Returns a valid JWT if authenticated or Unauthorized if not."
            }
        },
        "/whoami": {
            "get": {
                "description": "Get information for the current authenticated User."
            }
        },
        "/signup": {
            "post": {
                "description": "Create a new Customer and User in the system with default configuration. The Customer and User are registered with the same email address. The User has Admin privilages over the Customer."
            }
        },
        "/customers": {
            "get": {
                "description": "Search Customers registered on the platform. Root Users only."
            },
            "post": {
                "description": "Add a new customer to the platform. Root Users only."
            }
        },
        "/customers/{customerId}": {
            "get": {
                "description": "Get information for a single Customer. Root and Admin Users only."
            },
            "patch": {
                "description": "Update a Customer. Root Users only."
            },
            "delete": {
                "description": "Delete a Customer. Root Users only."
            }
        },
        "/customers/{customerId}/users": {
            "get": {
                "description": "Search Users belonging to a Customer. Root Users only."
            }
        },
        "/notifications": {
            "get": {
                "description": "Get all Notifications belonging to the current authenticated User in reverse time order."
            },
            "post": {
                "description": "Create a new Notification for the current authenticated User."
            }
        },
        "/notifications/{notificationId}": {
            "delete": {
                "description": "Delete (dismiss) a Notification belonging to the current authenticated User."
            }
        },
        "/settings/password": {
            "patch": {
                "description": "Chnge the password for the current authenticated User."
            }
        },
        "/settings/profile": {
            "get": {
                "description": "Get the User profile for the current authenticated User."
            },
            "patch": {
                "description": "Update the User profile for the current authenticated User."
            }
        },
        "/settings/account": {
            "get": {
                "description": "Get the Customer account information for the current authenticated User. Admin only."
            },
            "patch": {
                "description": "Update the Customer account inormation for the current authenticated User. Admin only."
            }
        },
        "/users": {
            "get": {
                "description": "Search all Users belonging to the Customer of the current authenticated User. Admin only."
            },
            "post": {
                "description": "Create a new User for the Customer of the current authenticated User. Admin only."
            }
        },
        "/users/{userId}": {
            "get": {
                "description": "Get a User profile belonging to the current authenticated Customer. Admin only."
            },
            "patch": {
                "description": "Update a User profile belonging to the current authenticated Customer. Admin only."
            },
            "delete": {
                "description": "Delete a User belonging to the current authenticated Customer. Admin only."
            }
        },
        "/users/{userId}/impersonate": {
            "get": {
                "description": "Get a valid JWT for a User to impersnate them on the platform for support and diagnosis. Root only."
            }
        }
    }
}
